<html>
  <!-- Head tag -->
  <%- partial('_partial/head') %>
  <body>
    <!-- Menu -->
    <%- partial('_partial/menu') %>

    <div class="container">
        <div class="row">
        <%- body %>
      </div>
    </div>
    <!-- Footer -->
    <%- partial('_partial/footer') %>
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
  </body>
</html>
