<%
  function get_categories (post){
    var categories = []
    post.categories.forEach(function(category){
        categories.push(category.name);
    });
    return categories.join(", ")
  }

  function get_tags (post){
    var tags = []
    post.tags.forEach(function(tag){
        tags.push(tag.name);
    });
    return tags.join(" ")
  }

%>


<div class="col-md-8">
  <h2 class="blog-post-title">Résultat de la recherche :</h2>
  <hr>
  <div id="search-results"></div>

</div>
<!-- Sidebar -->
<div class="col-md-3 col-md-offset-1"><div class="well sidebar">
  <%- partial('_partial/my_cat_list', {item: page}) %>
</div></div>




<script>
  window.store = {
    <% site.posts.forEach(function(post, index, array){ %>
        "<%- config.root %><%- post.path %>": {
          "title": <%- JSON.stringify(post.title) %>,
          "category": <%- JSON.stringify(get_categories(post)) %>,
          "tags": <%- JSON.stringify(get_tags(post)) %>,
          "content": <%- JSON.stringify(post.content.replace(/<\/?[^>]+(>|$)/g, "")) %>,
          "url": "<%- config.root %><%- post.path %>"
        }<% if (index !== site.posts.length - 1 ){ %>,<% } %>
    <% }); %>
  };
</script>

<%- js('js/lunr.min.js') %>
<%- js('js/search.js') %>
