<% if (item.categories && item.categories.length){ // POSTS OF THE SAME CATEGORY

  var current_cat = item.categories.last().name;

  var other_cats = {};
  var only_current_cat = function(post,index){
    var is_valid = false;
    if (item.categories.last()) {
      if(post.categories.last().name === item.categories.last().name ){
        is_valid = true;
      }
      else{
        if(post.categories.first().name === item.categories.first().name && post.categories.last().name !== item.categories.first().name){
          other_cats[post.categories.last().name] = post.categories.last();
        }
      }
    }
    else{
      is_valid = true;
    }
    return is_valid;
  };
  var the_filtered_posts = site.posts.sort('title').filter(only_current_cat);

%>
  <h3><%- current_cat %> :</h3>
  <ul>
    <% Object.keys(other_cats).map(function(catKey, index) { %>
      <li>
        <a href="<%- config.root + other_cats[catKey].path %>">
          <span class="glyphicon glyphicon-folder-open glyph-space-right-small"></span> <span> <%- other_cats[catKey].name %></span>
        </a>
      </li>
    <% }); %>

    <% the_filtered_posts.each(function(cat_item){ %>
        <li>
          <a href="<%- config.root %><%- cat_item.path %>">
          <% if (item.path === cat_item.path ){ %>
            <strong><%- cat_item.title || cat_item.link%></strong>
          <% } else { %>
            <%- cat_item.title || cat_item.link%>
          <% } %>
          </a>
        </li>
    <% }); %>
  </ul>
<% } %>
